@use '../abstracts/breakpoints.scss' as brk;

.container {
  --container-padd-inline: 1rem;
  padding: 0 var(--container-padd-inline);
  max-width: 70rem;
  margin: 0 auto;

  @include brk.maxWidth(medium) {
    max-width: 45rem;
  }
}