@use '../abstracts/breakpoints' as brk;

.grid {
  display: grid;

  @include brk.minWidth(medium) {
    --double-col: repeat(2, 1fr);
    --triple-col: repeat(3, 1fr);
  }

  &--double-col {
    grid-template-columns: var(--double-col);
  }

  &--triple-col {
    grid-template-columns: var(--triple-col);
  }
}