@use '../abstracts/breakpoints' as brk;

.featured {
  --content-spacing: 1rem;

  @include brk.minWidth(medium) {
    --img-col-span: span 2;
    grid-column: span 2;
    grid-row: span 2;
  }

  &__cover-img {
    margin-bottom: var(--content-spacing);
    grid-column: var(--img-col-span);

    & > * {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    font-size: var(--fs-900);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-neutral-900);
    line-height: 1;
    margin-bottom: var(--content-spacing);
  }

  &__description-wrapper {}

  &__description {
    margin-bottom: calc(var(--content-spacing) + 0.5rem);
  }

  .btn {
    display: inline-block;
  }
}