.footer {

  &__attribution {

    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-200);
    padding: 2em 0;
    text-align: center;
    font-size: 90%;

    a {
      color: var(--clr-primary-400);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: var(--clr-accent-400);
      }

      &:focus-visible {
        outline-color: currentColor;
      }
    }

    span {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}