@use '../abstracts/breakpoints' as brk;

.header {
  --padd-block: 2.5em;
  padding-top: var(--padd-block);
  padding-bottom: var(--padd-block);

  @include brk.minWidth(medium) {
    --padd-block: 4em;
  }

  &__logo {
    width: clamp(2rem, 12vw, 4.5rem);
  }

  &__nav {
    @include brk.maxWidth(medium) {
      display: none;
    }
  }

  &__nav-links {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    gap: 2.5rem;

    a {
      color: inherit; // inherits from body font color
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: var(--clr-accent-400);
    }

    a:focus-visible {
      outline: 1px solid currentColor;
      outline-offset: 0.25em;
    }
  }
}

.header .btn__hamburger {
  @include brk.minWidth(medium) {
    display: none;
  }
}