.header {
  --padd-block: 2em;
  padding-top: var(--padd-block);
  padding-bottom: var(--padd-block);

  &__logo {
    width: clamp(2rem, 12vw, 5rem);
  }

  &__nav {
    display: none;
  }

  &__nav-links {
    list-style: none;

    a {
      color: inherit; // inherits from body font color
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: var(--clr-accent-400);
    }

    a:focus-visible {
      outline: 1px solid currentColor;
      outline-offset: 0.25em;
    }
  }
}