@use '../abstracts/breakpoints' as brk;

.trending {
  --list-gap: 2rem;
  --thumbnail-text-gap: 1.5rem;

  @include brk.minWidth(medium) {
    grid-column: span 3;
  }

  &__list {
    padding: 0;
    list-style: none;
    gap: var(--list-gap);

    article {
      display: flex;
      gap: var(--thumbnail-text-gap);
    }
  }

  &__list-thumbnail {
    max-width: 6rem;
    aspect-ratio: 3/4;
    object-fit: cover;
  }

  &__list-title {
    font-size: var(--fs-500);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-neutral-900);
    margin-bottom: 0.5em;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 100ms ease-in;

      &:hover, &:focus {
        color: var(--clr-accent-400);
      }
    }
  }

  &__num {
    &::before {
      display: block;
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      color: var(--clr-neutral-300);
      margin-bottom: 0.25rem;
    }
    &--1::before {
      content: '01';
    }
    &--2::before {
      content: '02';
    }
    &--3::before {
      content: '03';
    }
  }
}